.heading {
    color: blue;
    font-size: 30px;
}

.text {
    color: green;
    font-size: 18px;
}

.line {
    background-color: orange;
    color: white;

}

body {
    background-color: lightblue;
}
